<<<<<<< HEAD
body {
  /* background-color: magenta; */
}

=======
body{
  background-color: #00FFFF;
>>>>>>> 95645207412940001ede7224e66ed57c33381248
}

h1{
  background-color: #00FFFF;
  /* color: navy; */
  /* margin-left: 20px; */
}
div {
  background-color: #00FFFF
}
p {
  background-color: #00FFFF;
}
